    /* Estilização Geral */
    body {
        background-color: #f9f9f9;
      }
      
      .event-header {
        background-color: #4fb3bf;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .event-header img {
        max-height: 60px;
    }
      /* Cartão */
    .card {
        border-radius: 8px;
      }
      
      /* Botão */
      .btn-teal {
        background-color: #4fb3bf;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
      }
      
      .btn-teal:hover {
        background-color: #006666;
        color: white;
      }
      
      /* Links */
      a {
        color: #008080;
      }
      
      a:hover {
        text-decoration: underline;
      }